# Backend
backend/target/
*.class
*.jar

# Mobile / Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.packages
mobile/ios/Pods/
mobile/android/.gradle/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
